.body {
    
    background: #a0eb8a9c;
    max-width: 700px;
    margin: 10px auto;
    padding: 25px;
}

.navigation {
    
    position: fixed;
    left: 10px;
    top: 0;
    padding: 10px;
      
}

.navigation__link {

    text-decoration: none;
}

.main {
  
}

.title {
    margin-bottom: 50px;
}

.title__header {
    color: tomato;
    font-size: 45px;

}


.about {
    color: #80ced7;
    font-size: 25px;

}

.about__header {
    color: #80ced7;
    font-size: 25px;


}

.about__paragraph {

    color: #80ced7;
    font-size: 25px;
}

.diary {
    color: #80ced7;
    font-size: 25px;

}

.diary__header {
    color: #29b658;
    font-size: 25px;

}

.diary__day {
    color: tomato;
    font-size: 15px;
    margin-bottom: 30px;
    

}
.diary__link{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
}


    

.footer__title{
         
    
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    
   
}






------------------------------------------------------------------------------------------------------------

