.colorBody {

    background: #4aaf2b9c;
}

.colorDayone {

    background: #80ced7;
}

.sectionHeader {

    color: #80ced7;



}

.diaryHeader {

    color: rgb(245, 143, 9);
    font-size: 32px;
}

.mainHeader {

    color: tomato;
    font-size: 50px;
    margin-bottom: 50px;


}

.hthree {

    color: #80ced7;
    font-size: 25px;
}

.articleP {

    font-size: 20px;
}
.main{
width: 100%;
max-width: 700px;
margin:32px auto;
}

.paragraph{

    padding: 16px;
    

}