.body {
    background: #a0eb8a9c;
    
    max-width: 700px;
    margin: 32px auto;
    position: relative;
    padding: 10px;
    border: 1px solid red;
    border-radius: 50px;
    
}

.navigation {
    box-sizing: border-box;  
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    
    
}

.navigation__link {

    text-decoration: none;
}

.main {
  
}

.title {
    
}

.title__header {
    color: tomato;
    font-size: 50px;
    margin-bottom: 50px;

}


.about {
    color: #80ced7;
    font-size: 25px;

}

.about__header {
    color: #80ced7;
    font-size: 25px;


}

.about__paragraph {

    color: #80ced7;
    font-size: 25px;
}

.diary {
    color: #80ced7;
    font-size: 25px;

}

.diary__header {
    color: #29b658;
    font-size: 25px;

}

.diary__day {
    color: tomato;
    font-size: 15px;
    margin-bottom: 50px;
    

}
.diary__link{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
}


    

.footer__title{
         
    
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    
   
}


.box{
    box-sizing: border-box; 
    width: 10vh;
    height: 10vh;
    background: red;  
    border:royalblue solid 10px;
    position: sticky;
    border-radius: 50px;
    text-decoration: none;
    top:0;
    left:100%;
    float:right;

}



------------------------------------------------------------------------------------------------------------

